{% extends 'store/layouts/base.html' %}

<!-- Title -->
{% block titleBlock %}
<title>Register | Page</title>
{% endblock titleBlock %}

<!-- Style Block -->
{% block styleBlock %}
<style>
    input:invalid {
        border: 2px solid red;
    }
</style>
{% endblock styleBlock %}


<!-- Content -->
{% block contentBlock %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="text-center">
                                <h4> Registration Form </h4>
                            </div>
                            <hr>
                            <!-- Username -->
                            <div class="form-group">
                                <label for="id_username">Username :</label>
                                {{ form.username }}
                                <!-- agar user ne galat password kam ho toh less than 8 / misatch -->
                                {% if form.username.errors %}
                                <div class="text-danger small">
                                    {{ form.username.errors|striptags }}
                                </div>
                                {% endif %}
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                                <label for="id_email">{{ form.email.label }} :</label>
                                {{ form.email }}
                                <!-- agar user ne galat email withot @ diya  -->
                                {% if form.email.errors %}
                                <div class="text-danger small">
                                    {{ form.email.errors|striptags }}
                                </div>
                                {% endif %}
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label for="id_password1">Password :</label>
                                {{ form.password1 }}

                                <!-- agar user ne galat password kam ho toh less than 8 / misatch -->
                                {% if form.password1.errors %}
                                <div class="text-danger small">
                                    {{ form.password1.errors|striptags }}
                                </div>
                                {% endif %}
                            </div>

                            <!-- Confirm Password -->
                            <div class="form-group">
                                <label for="id_password2">Confirm Password :</label>
                                {{ form.password2 }}

                                <!-- agar user ne galat password kam ho toh less than 8 / misatch -->
                                {% if form.password2.errors %}
                                <div class="text-danger small">
                                    {{ form.password2.errors|striptags }}
                                </div>
                                {% endif %}
                            </div>

                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-success float-end shadow px-4">
                                Register
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contentBlock %}